<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
    <!-- Latest compiled and minified CSS -->
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> --}}

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Include Cropper.js library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>

</head>

<body>
    <section>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <div class="p-4">
                    <h1><a href="" class="logo">O|o' CLOCK</a></h1>
                    <span>
                        <h5 class="text-white" id="admin_name">{{adminid.name}}</h5>
                    </span>
                    <ul class="list-unstyled components mb-5" id="list_side">
                        <li class="active">
                            <a href="#"><span class="fa fa-home mr-3"></span>Home</a>
                        </li>
                        <li class="active">
                            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"><span
                                    class="fa fa-user mr-4"></span>Profile</a>
                        </li>
                        <li class="active">
                            <a href="/adminhome/users"><span class="fa-solid fa-users mr-4"></span>User</a>
                        </li>
                        <li class="active">
                            <a href="/adminhome/order"><span class="fa-solid fa-cart-shopping mr-4"></span>Order</a>
                        </li>
                        <li class="active">
                            <a href="/adminhome/category"><span class="fa fa-sticky-note mr-4"></span>Category</a>
                        </li>
                        <li class="active">
                            <a href="/adminhome/products"><span class="fa fa-suitcase mr-4"></span>Products</a>
                        </li>
                        <li class="active">
                            <a href="/adminhome/brands"><span class="fa fa-cogs mr-4"></span>Brand</a>
                        </li>
                        <li class="active">
                            <a href="/adminhome/banner"><span class="fa fa-paper-plane mr-4"></span>Banner</a>
                        </li>
                        <li class="active">
                            <a href="/adminhome/contact"><span class="fa-solid fa-message mr-4"></span>Messages</a>
                        </li>
                        <li class="active">
                            <a href="#"><span class="fa-solid fa-star mr-4"></span>Reviews</a>
                        </li>
                    </ul>

                    <div class="mb-5">
                        <a href="/adminhome/admin_logout" id="logout"><span
                                class="fa-solid fa-right-from-bracket mr-3"></span>Logout</a>

                    </div>

                </div>
            </nav>
            {{!-- nav section end --}}

            {{!-- page content --}}

            <div id="content" class="p-4 p-md-5 pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 category_head">
                            <h2 class="text-center text-dark" id="product" style="font-weight:bold ;">PRODUCTS</h2>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="d-flex justify-content-end w-100">
                            <button class="btn btn-dark text-white" data-bs-toggle="modal"
                                data-bs-target="#brandModal">Add Products</button>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Brand</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr>
                                        <td><img src={{this.images}} alt="" width="50px"></td>
                                        <td>{{name}}</td>
                                        <td>{{category}}</td>
                                        <td>{{brand}}</td>
                                        <td>{{price}}</td>
                                        <td>
                                            <button type="button" class="view-product p-1 btn  btn-light m-1"
                                                data-product-id="{{_id}}"><i class="fa-regular fa-eye"
                                                    style="color:black;"></i></button>
                                            <button type="button" class="edit-product btn btn-light p-1 m-1"
                                                data-product-id="{{_id}}"><i class="fa-solid fa-pen-to-square"
                                                    style="color: #01060e;"></i></button>

                                            <button type="button" class="delete-product btn btn-light p-1 m-1"
                                                data-product-id="{{_id}}"><i class="fa-solid fa-trash"
                                                    style="color: #000714;"></i></button>

                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            {{!-------------------------modal1 adminprofile-------------------------------------}}
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Profile</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container" id="admin_profile">
                                <div class="col-md-12 text-center">
                                    <img src="/images/profile.png" alt="">
                                    <h2 style="color: red; font-weight:bolder">Welcome </h1>
                                        <h4>{{adminid.name}}</h4>
                                        <h5>{{adminid.email}}</h5>
                                        <h5>{{adminid.phone}}</h5>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark" data-bs-target="#exampleModalToggle2"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalToggleLabel2"
                                style="text-align: center; font-family: cursive; font-weight: bold;">Edit Form</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="myForm">
                                <div class="mb-4">
                                    <input type="text" class="form-control" id="InputName" placeholder="Enter Name"
                                        name="name" value="{{adminid.name}}">
                                </div>
                                <div class="mb-4">
                                    <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email"
                                        name="email" value="{{adminid.email}}">
                                </div>
                                <div class="mb-4">
                                    <input type="number" class="form-control" id="Inputphone"
                                        placeholder="Enter Phone number" name="phone" value="{{adminid.phone}}">
                                </div>
                                <button type="button" id="submitButton" onclick="fun()" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{!------------------------------ modal add product ---------------------------------------}}

            <div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5" id="exampleModalLabel">Add Product</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form class="row g-3" action="/adminhome/products" method="POST"
                                    onsubmit="return addproduct()" enctype="multipart/form-data" id="productAddForm">
                                    <div class="col-md-6">
                                        <label for="name" class="form-label">Product Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="product Name"
                                            name="name" style="border: 1px solid black;">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="price">Price</label>
                                        <input type="text" class="form-control" id="price" placeholder="Enter price"
                                            name="price" style="border: 1px solid black;">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="category" class="form-label">Category</label><br>

                                        <select id="category" class="form-select" name="category" >
                                            {{#each category}}
                                            <option class="bg-dark text-light" value="{{this.name}}">{{this.name}}
                                            </option>
                                            {{/each}}
                                            
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="brand" class="form-label">Brand</label><br>
                                        <select id="brand" class="form-select" name="brand">
                                            {{#each brands}}
                                            <option class="bg-dark text-light" value="{{this.name}}">{{this.name}}
                                            </option>
                                            {{/each}}
                                            
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="description1" class="form-label">Discription1</label>
                                        <textarea type="text" class="form-control" id="description1" 
                                            placeholder="Enter Discription" name="description1"
                                            style="border: 1px solid black;"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="disc2" class="form-label">Discription2</label>
                                            <textarea type="text" class="form-control" id="disc2"
                                                placeholder="Enter Discription" name="description2"
                                                style="border: 1px solid black;"></textarea>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <label for="color" class="form-label">color</label><br>
                                        <select id="color" class="form-select" name="color">
                                            <option selected>Black</option>
                                            <option>Brown</option>
                                            <option>Silver</option>
                                            <option>Gold</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="gender" class="form-label">Gender</label><br>
                                        <select id="gender" class="form-select" name="gender">
                                            <option selected>Men</option>
                                            <option>Women</option>
                                            <option>All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="material" class="form-label">Material</label><br>
                                        <select id="material" class="form-select" name="material">
                                            <option selected>Leather</option>
                                            <option>stainless Steel</option>
                                            <option>Silicon</option>
                                            <option>Resin</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="images" class="form-label">Main Image</label><br>
                                        <input type="file" id="images" name="images" class="form-control"
                                            style="border: 1px solid black;">
                                    </div>
                                    <div class="col-md-6">
                                        <div id="ImageContainer">
                                            <img id="croppedimage" name="croppedimage" hidden src="#" alt="Cropped Image">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="images1" class="form-label">Image</label><br>
                                        <input type="file" id="images1" name="images1" class="form-control"
                                            style="border: 1px solid black;">

                                    </div>
                                    <div class="col-md-6">
                                        <div id="Image1Container">
                                            <img id="croppedimage1" name="croppedimage1" hidden src="#" alt="Cropped Image1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="images2" class="form-label">Image</label><br>
                                        <input type="file" id="images2" name="images2" class="form-control"
                                            style="border: 1px solid black;">

                                    </div>
                                    <div class="col-md-6">
                                        <div id="Image2Container">
                                            <img id="croppedimage2" name="croppedimage2" hidden src="#" alt="Cropped Image2">
                                        </div>
                                    </div>
                                     <div class="col-md-6">
                                        <label for="images3" class="form-label">Image</label><br>
                                        <input type="file" id="images3" name="images3" class="form-control"
                                            style="border: 1px solid black;">

                                    </div>
                                    <div class="col-md-6">
                                        <div id="Image3Container">
                                            <img id="croppedimage3" name="croppedimage3" hidden src="#" alt="Cropped Image3">
                                        </div>
                                    </div> 
                                    
                                    <div class="col-md-6">
                                        <label for="countStock" class="form-label">Stock</label><br>
                                        <input type="number" id="countStock" name="countStock" class="form-control"
                                            style="border: 1px solid black;">

                                    </div>
                                    <div class="col-12 mt-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal2 view single data from the table-->
            <div class="modal fade" id="productmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">View Product</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="productbody">

                        </div>
                        <div class="modal-footer">
                            <a href="/adminhome/products"><button type="button"
                                    class="btn btn-secondary">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>

            {{!----------------------------------- modal3 edit data from the
            table-------------------------------------------}}

            <div class="modal fade" id="producteditmodal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Edit Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="editproduct">

                        </div>
                        <div class="modal-footer">
                            <a href="/adminhome/products"><button type="button"
                                    class="btn btn-secondary">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>



            {{!-- modal4 view delete data from the table --}}
            <div class="modal fade" id="deletemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="deletebody">

                        </div>
                        <div class="modal-footer">
                            <a href="/adminhome/products"><button type="button"
                                    class="btn btn-secondary">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>





    </section>

    <script src="/js/cropper.js"></script>
    <script src="/js/product.js"></script>
    {{!--
    <script src="/js/brand.js"></script> --}}
    <script src="/js/formValidation.js"></script>
    {{!--
    <script src="/js/categoryview.js"></script> --}}
    <script src="/js/edit.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>