<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/style2.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{!-- toastify-js --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    <section class="navSec">
        <div class="container-fluid nav_bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    {{! <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="logo"
                            class="logo_img img-fluid"></a> }}
                    <a class="navbar-brand text-dark" href="#" id="logo_img">O|o' CLOCK</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navitems">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/about">About Us</a>
                            </li>
                            

                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navicons">
                            <li class="nav-item">
                                <a class="nav-link" href="/user"><i class="fa-solid fa-user"></i><span
                                        style="color: black; font-family:sanserif">{{user.name}}</span></a>

                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="/wish"><i class="fa-regular fa-heart"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </section>
    {{! navsection end }}


    <section class="gradient-custom mt-5 border-dark">
        <div class="container py-5 h-100 mb-4">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card shadow-lg" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            {{!-- <img src="/images/loginImg.jpg" alt="" class="img-fluid" width="100px"> --}}
                            <span
                                style="font-size: larger; font-weight:bold">Thanks For Your Order, <span
                                    style="color: #000000; font-style:italic"
                                    class="text-danger">{{address.name}}</span></span>
                            
                        </div>
                        <div class="d-flex justify-content-between pt-2 ps-4">
                            <p class="fw-bold mb-0">Delivery Address</p>
                        </div>

                        <div class="d-flex justify-content-between pt-2 shadow-sm ps-4 pb-3">
                            <p class="text-muted mb-0">
                                {{address.name}},{{address.address}},{{address.area}},{{address.city}}<br>{{address.state}},{{address.phone}}
                            </p>
                        </div>

                        <div class="card-body p-4">
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between 1h-condensed">
                                    <p class="my-0">Receipt id : <small>{{orderData._id}}</small></p>
                                    <small class="me-4 ms-auto text-success">{{orderData.orderStatus}}</small>
                                </li>

                            </ul>
                            {{!-- <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0 me-auto" style="color: #000000;">Receipt</p>
                                <p class="small text-muted mb-0">Receipt id : {{orderData._id}}<br><span
                                        class="text-success">{{orderData.orderStatus}}</span></p>
                            </div> --}}

                            {{#each Products}}

                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{this.productData.images}}" class="img-fluid" alt="product">
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0">{{this.productData.name}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{this.productData.category}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{this.productData.brand}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty: {{this.quantity}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small" id="grand{{this.productData._id}}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                var price = {{ this.productData.price }}
                                var qty = {{ this.quantity }}
                                var total = price * qty
                                document.getElementById("grand{{this.productData._id}}").textContent = total
                            </script>
                            {{/each}}

                        </div>
                        <div class="card-footer border-0 px-4 py-5"
                            style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            <h5 class="d-flex align-items-center justify-content-end text-dark text-uppercase mb-0">
                                Total
                                paid: <span class="h2 mb-0 ms-2" id="totalPay">₹ {{grandtotal}} /-</span></h5>
                        </div>

                        
                        <a href="/shop"><button class="btn btn-outline-dark w-100 mt-3">BACK TO SHOP</button></a>
                    </div>
                </div>
            </div>
        </div>

    </section>

     {{#if orderData}}
        <script>
            Swal.fire({
                title: "Order Placed Succussfully.....",
               
                icon: "success"
            })
        </script>
    {{/if}}


     


   


    <script src="/js/placedOrder.js"></script>
    <script src="/js/checkoutOrder.js"></script>
    <script src="/js/formValidation.js"></script>

</body>

</html>