<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>O|o' CLOCK</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/style2.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {{!-- favicon --}}
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dsqsfves6/image/upload/v1704874674/fav_mrsyym.jpg">
</head>

<body>
    <section class="navSec">
        <div class="container-fluid nav_bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    {{! <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="logo"
                            class="logo_img img-fluid"></a> }}
                    <a class="navbar-brand text-dark" href="#" id="logo_img">O|o' CLOCK</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navitems">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/about">About Us</a>
                            </li>
                            

                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navicons">
                            <li class="nav-item">
                                <a class="nav-link" href="/user"><i class="fa-solid fa-user"></i><span
                                        style="color: black; font-family:sanserif">{{user.name}}</span></a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/wish"><i class="fa-regular fa-heart"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </section>
    {{! navsection end }}


    <section style="margin-top: 100px;">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
                    <div class="card shadow-0 border mb-4 rounded border border-dark-subtle">
                        <h5 class="text-muted ps-2">Delivery Address</h5>
                        <hr>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="" style="font-weight: 600;">{{addressdata.name}}</h5>
                                    <p class="">{{addressdata.address}} , {{addressdata.area}} ,{{addressdata.city}}
                                    </p>
                                    <p class="">{{addressdata.state}} , {{addressdata.pincode}} </p>
                                    <p class="">{{addressdata.phone}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>


                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="card shadow-sm rounded border border-dark-subtle">
                        <div class="card-body">
                            <h5 class="text-center" style="font-family: sans-serif; font-weight:700">Cart Details</h5>
                            <ul class="list-group mb-3">
                                <script>
                                    let grandtotal = 0;
                                </script>
                                {{#each cartItems}}
                                {{#each cartContent}}

                                <li class="list-group-item d-flex justify-content-between 1h-condensed">
                                    <img class="me-3" src="{{this.images}}" width="15%" height="15%">

                                    <div>
                                        <h6 class="my-0">{{this.name}}</h6>

                                    </div>
                                    <p class="ms-auto me-5">{{../quantity}}</p>
                                    <span id="total{{this._id}}"></span>

                                </li>

                                <script>
                                    var price = {{ this.price }}
                                    var quantity = {{../quantity}}
                                    var totalPrice = parseInt(price) * parseInt(quantity)
                                    grandtotal += parseInt(totalPrice)
                                    document.getElementById('total{{this._id}}').innerHTML = totalPrice;
                                    
                                </script>

                                {{/each}}
                                {{/each}}

                                <li class="list-group-item d-flex justify-content-between 1h-condensed">
                                    <span>Discount : </span>
                                    <p class="text-danger" id="discount"><span>/-</span></p>

                                </li>
                                <li class="list-group-item d-flex justify-content-between 1h-condensed">
                                    <span>TOTAL : </span>
                                    <p class="text-success" id="grand">  <span>/-</span></p>
                                    <script>
                
                                        let value = parseInt({{couponData.profit}})||0
                                        let discount = grandtotal/100*value
                                        const afterDiscount = grandtotal-discount
                                        document.getElementById("grand").textContent = afterDiscount;
                                        document.getElementById("discount").textContent = discount;   
                                
                                    </script>
                                </li>
                            </ul>

                        

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7 pt-2">
                    <div class="card shadow-lg rounded border border-dark-subtle">
                        <div class="card-header ">
                            <h4>Select Payment Method</h4>
                        </div>
                        <div class="card-body">
                            <form id="paymentMethods">
                                <input type="text" name="addressDataId" value="{{addressdata._id}}" id="addressDataId"
                                    hidden>
                                <div class="form-check p-3">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="COD"
                                        value="COD">
                                    <label class="form-check-label" for="COD">
                                        CASH ON DELIVERY
                                    </label>
                                </div>
                                <hr>
                                <div class="form-check p-3">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="razorpay"
                                        value="razorpay">
                                    <label class="form-check-label" for="razorpay">
                                        RAZORPAY
                                    </label>

                                </div>
                                <p id="paymenterror" style="display: none;" class="text-danger">Must check some option!
                                </p>
                                <input type="button" class="btn btn-outline-dark w-100" name="paymentBtn"
                                    value="Place Order"
                                    onclick="return (paymentValidate()&&orderPlaced(afterDiscount)&&orderConfirm())">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </section>












    <script src="/js/placedOrder.js"></script>
    <script src="/js/checkoutOrder.js"></script>
    <script src="/js/formValidation.js"></script>

</body>

</html>