<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/style2.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/zoom.css" />
        <link rel="stylesheet" href="/css/footer.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{!-- toastify-js --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>
    <section class="navSec">
        <div class="container-fluid nav_bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    {{! <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="logo"
                            class="logo_img img-fluid"></a> }}
                    <a class="navbar-brand text-dark" href="#" id="logo_img">O|o' CLOCK</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navitems">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/about">About Us</a>
                            </li>
                            

                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navicons">
                            <li class="nav-item">
                                <a class="nav-link" href="/user"><i class="fa-solid fa-user"></i><span
                                        style="color: black; font-family:sanserif">{{user.name}}</span></a>

                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" href="/wish"><i class="fa-regular fa-heart"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </section>
    {{! navsection end }}

    <section class="py-5">
        <div class="container pt-5">
            <div class="row gx-5">
                <aside class="col-lg-6 col-12 col-sm-12 col-md-12 col-xl-6 col-xxl-6">
                    <div class="rounded-4 mb-3 d-flex justify-content-center ">
                        <div class="zoom">
                            <div class="original">
                                <img style="max-width: 100%; max-height: 100vh; margin: auto;" id="main"
                                    class="rounded-4 fit img-fluid" src="{{product.images}}" />

                            </div>
                            <div class="viewer" style="z-index: 3;">
                                <img id="zoomImage" src="{{product.images}}">
                            </div>
                            <div class="magnifier"></div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        {{#if product.images}}
                        <img id="main" onclick="change1()" width="100" height="100" class="rounded-2"
                            src="{{product.images}}" />
                        {{/if}}
                        {{#if product.Imageone}}
                        <img id="sub1" onclick="change2()" width="100" height="100" class="rounded-2"
                            src="{{product.Imageone}}" />
                        {{/if}}
                        {{#if product.Imagetwo}}
                        <img id="sub2" onclick="change3()" width="100" height="100" class="rounded-2"
                            src="{{product.Imagetwo}}" />
                        {{/if}}
                        {{#if product.Imagethree}}
                        <img id="sub3" onclick="change4()" width="100" height="100" class="rounded-2"
                            src="{{product.Imagethree}}" />
                        {{/if}}
                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h2 class="title text-dark" style="font-weight: 600;">
                            {{product.name}}</h2>

                        <p class="text-muted">{{product.brand}}</p>

                        <div class="mb-3">
                            <span class="h5">₹{{product.price}} /-</span>
                        </div>

                        <div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                            {{!-- <span class="text-muted"><i
                                    class="fas fa-shopping-basket fa-sm mx-1"></i>{{product.countStock}}</span>
                            <span class="text-success ms-2">In stock</span> --}}
                        </div>
                        <hr>


                        <p class="text-dark">
                            {{product.description1}}
                        </p>
                        <p class="text-secondary">
                            {{product.description2}}
                        </p>



                        <div class="row mb-4">

                            <div class="col-md-4 col-6 mb-3 ">
                                <label class="mb-2 d-block">Quantity</label>
                                <div class="input-group mcxb-3 shadow-lg " style="width: 170px;">
                                    <button class="btn btn-white border-end" type="button" style="border:0 1px "
                                        id="buttonsub" data-mdb-ripple-color="dark">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="text" class="form-control text-center" readonly id="quantity" name="quantity"
                                        placeholder="0" value="1" style="border: none" />
                                    <button class="btn btn-white border-start" type="button" id="buttonadd"
                                        data-mdb-ripple-color="dark">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-light shadow-sm border" data-product-id="{{product._id}}" id="buyNow">
                            <i class="fa-solid fa-bolt"></i> Buy Now
                        </button>
                        <button class="btn btn-light shadow-sm border" data-product-id="{{product._id}}" id="addCart">
                            <i class="fa-solid fa-cart-shopping" style="color: #00040a;"></i> Add to cart
                        </button>

                        <button class="btn btn-light border border-secondary py-2 icon-hover px-3 wish" id="addWishList"
                            data-product-id="{{product._id}}"> <i class="me-1 fa fa-heart "></i></button>
                        <hr>

                        <div class="row">
                            <div class="col-12">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <strong>More Informations</strong>
                                            </button>

                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <dt class="col-3">Category</dt>
                                                    <dd class="col-9">{{product.category}}</dd>

                                                    <dt class="col-3">Brand</dt>
                                                    <dd class="col-9">{{product.brand}}</dd>

                                                    <dt class="col-3">Product Name</dt>
                                                    <dd class="col-9">{{product.name}}</dd>

                                                    <dt class="col-3">Net Price</dt>
                                                    <dd class="col-9">{{product.price}} /-</dd>

                                                    <dt class="col-3">Color</dt>
                                                    <dd class="col-9">{{product.color}}</dd>

                                                    <dt class="col-3">Gender</dt>
                                                    <dd class="col-9">{{product.gender}} </dd>

                                                    <dt class="col-3">Stock Status</dt>
                                                    <dd class="col-9 ">{{product.countStock}} <span class="text-success">In stock</span></dd>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </main>
            </div>
        </div>
    </section>
    <!-- content -->
    <hr>

    {{!-- latest arraival start --}}
    <section class="latest mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-best text-center">LATEST ARRIVALS</h3>
                </div>
            </div>
            <div class="row mt-5">
                {{#each newarrivalArray}}
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 p-3">
                    <div class="card best-card">
                        <a href="/shop/{{this._id}}"><img src="{{this.images}}" class="card-img-top newarrival" alt="{{this.name}}"
                            data-product-id="{{this._id}}">
                        <div class="card-body text-center">
                            <h5 class="card-title text-secondary" style="font-size: 17px;">{{this.brand}}</h5>
                            <p class="card-text text-dark">{{this.name}}</p>
                            <p class="card-text1 text-muted">Rs: {{this.price}}</p>
                        </div></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    {{!-- latest sec end --}}



     {{!-- footer sec start --}}

  <section class="mt-5">
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-day-time">
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <div class="phone-no">
                                <a ><i class="fa fa-mobile" aria-hidden="true"></i>Call +91 7510328839</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        
                        <h4>About us</h4>
                        <p>O|o'Clock is an American watch and
                                lifestyle company, creatively rooted in authentic vintage and classic design.We strive
                                to create high-quality watches.   </p>

                    </div>

                    <div class="col-md-4">
                        <h4>Information</h4>
                        <ul class="address1">
                            <li><i class="fa fa-map-marker"></i>Hilite Businesspark , Calicut</li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:#">timeoclock23@gmail.com</a></li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i> <a>7510328839</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h4>Follow us</h4>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </section>

    {{#if wishalert}}
    <script>
        alert("Product already in wishlist")
    </script>
    {{/if}}



    <script>
        function change1() {
            document.getElementById("main").src = "{{product.images}}"
            document.getElementById("zoomImage").src = "{{product.images}}"

        }
        function change2() {
            document.getElementById("main").src = "{{product.Imageone}}"
            document.getElementById("zoomImage").src = "{{product.Imageone}}"

        }
        function change3() {
            document.getElementById("main").src = "{{product.Imagetwo}}"
            document.getElementById("zoomImage").src = "{{product.Imagetwo}}"

        }
        function change4() {
            document.getElementById("main").src = "{{product.Imagethree}}"
            document.getElementById("zoomImage").src = "{{product.Imagethree}}"

        }



        document.addEventListener('DOMContentLoaded', () => {
            const quantityElement = document.getElementById('quantity');
            const buttonAdd = document.getElementById('buttonadd');
            const buttonSub = document.getElementById('buttonsub');

            function ButtonSub() {
                if (quantityElement.value <= 1) {
                    buttonSub.style.display = "none";
                } else {
                    buttonSub.style.display = "block";
                }
            }
            

            buttonAdd.addEventListener('click', () => {
                quantityElement.value = parseInt(quantityElement.value, 10) + 1;
                ButtonSub();
            });

            buttonSub.addEventListener('click', () => {
                quantityElement.value = Math.max(1, parseInt(quantityElement.value, 10) - 1)
                ButtonSub();
            });






            //image zoom//
            var x = $('#main').zoom(3);
            x.setZoom(3);


        });


    </script>

    {{!-- if(quantityElement.value <=1){ buttonSub.style.display="none" } --}}
        <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/toastify-js">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/zoom.js"></script>

        <script src="/js/wish.js"></script>

</body>

</html>