<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O|o' CLOCK</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
    <section class="navSec">
        <div class="container-fluid  nav_bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    {{!-- <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="logo"
                            class="logo_img img-fluid"></a> --}}
                    <a class="navbar-brand text-dark" href="#" id="logo_img">O|o' CLOCK</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " id="navitems">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Blog</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navicons">
                            <li class="nav-item">
                                <a class="nav-link" href="/user"><i class="fa-solid fa-user"></i><span
                                        style="color: black; font-family:sanserif">{{user.name}}</span></a>

                            </li>
                            {{!-- <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </li> --}}
                            <li class="nav-item ">
                                <a class="nav-link" href="/wish"><i class="fa-regular fa-heart"></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </section>
    {{!-- navsection end --}}

    {{!-- carousal section starts --}}
    <section class="secOne mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 car">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {{#each topBanners}}
                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide-to="{{@index}}" {{#if @first}}class="active" aria-current="true" {{/if}}
                                aria-label="Slide {{@index}}"></button>
                            {{/each}}
                        </div>
                        <div class="carousel-inner">
                            {{#each topBanners}}
                            <div class="carousel-item {{#if @first}}active{{/if}}">
                                <img src="{{this.bannerImg}}" class="d-block w-100" alt="carousal{{@index}}">
                                <div class="carousel-caption  d-md-block">
                                    <p class="">TIMELESS & ELEGENT</p>
                                    <h2>{{this.name}}</h2>
                                    <h5>{{this.description}}</h5>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{!-- carousal section end --}}

    {{!-- features section start --}}
    <section class="features mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class=" feat0 text-center">
                        <img src="/images/delivery.png" width="70px" alt="Free Delivery">
                        <h5 class="text-dark pt-2 ">Free Delivery</h5>
                        <p class="text-secondary">For all orders above $45</p>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="feat1 text-center">
                        <img src="/images/secure_payment.png" width="90px" alt="securepayment">
                        <h5 class="text-dark pt-2 ">Secure Payments</h5>
                        <p class="text-secondary">Confidence on all your devices</p>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="feat2 text-center">
                        <img src="/images/microphone.jpg" width="70px" alt="Top-notch support">
                        <h5 class="text-dark pt-2 ">Top-notch support</h5>
                        <p class="text-secondary">sayhello&vapier.com</p>

                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 ">
                    <div class="feat3 text-center">
                        <span class="material-symbols-outlined icon_featr">
                            rotate_left
                        </span>
                        <h5 class="text-dark pt-2 ">7 Days Return</h5>
                        <p class="text-secondary">7 Days Return</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>

    </section>

    {{!-- features section end --}}

    {{!-- brand section start --}}

    <section class="brandSec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-dark text-center text-brand">SHOP BY BRAND</h3>
                </div>
            </div>
            <div class="row mt-3">
                {{#each newbrands}}
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 p-3">
                    <a href="/shop?selectedBrand={{this._id}}">
                        <div class="card text-bg-dark shadow-lg">
                            <img src="{{this.logo}}" class="card-img" class="img-fluid"  alt="{{this.name}}">
                            <div class="card-img-overlay text-center">
                                <button type="button" class="btn btn-light brand-btn shadow-lg text-white filter_brand" value="BrandName" style="background-color: transparent;">{{this.name}}</button>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{!-- brand sec end --}}

    {{!-- middlebanner sec start --}}
    <section class="mt-3">
        <div class="container">
            <div class="row">
                {{#each middleBanners}}
                <div class="col-12 col-md-12 col-lg-12 ">
                    <div class="card ">
                        <img src="{{this.bannerImg}}" class="card-img locator" alt="locator">
                        <div class="card-img-overlay text-center text-light locate-card">
                            <p class="card-title locat-text">
                                {{this.name}}
                            </p>
                            <h3 class="card-text h3-text">{{this.description}}</h3>
                            <a href="/shop"><button type="button" class="btn btn-light store">SHOP NOW</button></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    {{!-- middlebanner sec end --}}

    {{!-- latest arraival start --}}
    <section class="latest mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-best text-center">LATEST ARRIVALS</h3>
                </div>
            </div>
            <div class="row mt-5">
                {{#each newarrivalArray}}
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 p-3">
                    <div class="card best-card">
                        <a href="/shop/{{this._id}}"><img src="{{this.images}}" class="card-img-top newarrival" alt="{{this.name}}"
                            data-product-id="{{this._id}}">
                        <div class="card-body text-center">
                            <h5 class="card-title text-secondary" style="font-size: 17px;">{{this.brand}}</h5>
                            <p class="card-text text-dark">{{this.name}}</p>
                            <p class="card-text1 text-muted">Rs: {{this.price}}</p>
                        </div></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    {{!-- latest sec end --}}

    {{!-- best sellers sec start --}}
    <section class="bestSeller mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-best text-center">BEST SELLERS
                    </h3>
                </div>
            </div>
            <div class="row mt-5">
                {{#each bestSellersArray}}
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 p-3">
                    <div class="card best-card">
                        <a href="/shop/{{this._id}}"><img src="{{this.images}}" class="card-img-top" alt="{{this.name}}"
                            data-product-id="{{this._id}}">
                        <div class="card-body text-center">
                            <h5 class="card-title text-secondary" style="font-size: 17px;">{{this.brand}}</h5>
                            <p class="card-text text-dark">{{this.name}}</p>
                            <p class="card-text1 text-muted">Rs: {{this.price}}</p>
                        </div></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{!-- best sellers end --}}

    {{!-- bottom banner section start --}}
    <section class="banner mt-5">
        <div class="container">
            <div class="row">
                {{#each bottomBanners}}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 banner">
                    <div style="width: 100%;background: #000;" class="d-flex justify-content-center">
                        <img src="{{this.bannerImg}}" class="img-fluid " alt="banner">
                        <div class="text-light text-center banner-text">
                            <h3>{{this.name}}</h3>
                            <h1 class="feel">{{this.description}}</h1>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    {{!-- banner section end --}}

    {{!-- category sec start --}}
    {{!-- <section class="category mt-5">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12 col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card text-light">
                        <img src="/images/banner-5.jpg" class="card-img p-3" alt="mess watch">
                        <div class="card-img-overlay text-center mens">
                            <h2 class="card-title">MEN'S WATCH</h2>
                            <button type="button" class="btn btn-light text-dark" style="border-radius: 0;">SHOP
                                NOW</button>
                        </div>
                    </div>

                </div>
                <div class=" col-sm-12 col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card text-light">
                        <img src="/images/banner-6.jpg" class="card-img p-3" alt="ladies watch">
                        <div class="card-img-overlay text-center ladies">
                            <h2 class="card-title">LADIES WATCH</h2>
                            <button type="button" class="btn btn-light text-dark" style="border-radius: 0;">SHOP
                                NOW</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section> --}}

    
    {{!-- footer sec start --}}


    <section class="mt-5">
      
           <footer class="section bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Information</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li><a href="">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Brands</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li><a href="">Fossile</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href="">Zeeko API</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Help</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li><a href="/user">Sign Up </a></li>
                            <li><a href="/user">Login</a></li>
                            <li><a href="/about">About Us</a></li>
                            {{!-- <li><a href="">Privacy Policy</a></li> --}}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                        <p class="contact-info mt-4">Contact us if need help withanything</p>
                        <p class="contact-info">+01 123-456-7890</p>
                        <div class="mt-5">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="text-center mt-5">
            <p class="footer-alt mb-0 f-14">2023 © O_Clock, All Rights Reserved</p>
        </div>
    </footer>
       
    </section>

<script src="/js/filterProduct.js"></script>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>

</html>